<link rel="stylesheet" href="/css/sidebar.css">
<nav id="sidebar" class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a {{#ifStr where 'user' }} class="nav-link active font-weight-bold " {{else}} class="nav-link"
                    {{/ifStr}} href="/manager/user/list">
                    Danh sách người liên quan
                </a>
            </li>
            <li class="nav-item">
                <a {{#ifStr where 'product' }} class="nav-link active font-weight-bold " {{else}} class="nav-link"
                    {{/ifStr}} href="/manager/product/list">
                    Quản lý nhu yếu phẩm
                </a>
            </li>
            <li class="nav-item">
                <a {{#ifStr where 'package' }} class="nav-link active font-weight-bold " {{else}} class="nav-link"
                    {{/ifStr}} href="/manager/package/list">
                    Quản lý gói nhu yếu phẩm
                </a>
            </li>
            <li class="nav-item">
                <a {{#ifStr where 'statistic' }} class=" nav-link active font-weight-bold " {{else}} class=" nav-link"
                    {{/ifStr}} href="/manager/statistic">
                    Thống kê thông tin
                </a>
            </li>
            <li class="nav-item">
                <a {{#ifStr where 'payment' }} class="nav-link active font-weight-bold " {{else}} class="nav-link"
                    {{/ifStr}} href="/manager/payment">
                    Quản lý thanh toán
                </a>
            </li>
        </ul>
    </div>
</nav>
