<div id="body">
    <a id="btn-back" href="/order/list">
        Quay lại
    </a>
    <div id="content" class="rounded">
        <div id="title" class="rounded">Chi tiết gói nhu yếu phẩm đã mua</div>
        <div id="package-name">
            <div >{{order.TenGoiNYP}}</div>
        </div>
        <div id="package-content">
            <div>Mức mua giới hạn: {{order.MucGioiHan}} lần</div>
            <div>Thời gian giới hạn: {{order.ThoiGianGioiHan}} ngày</div>
            <div id="total">Tổng tiền: {{order.SoTien}} đồng</div>
        </div>
        <div id="detail" class="rounded mx-auto">
            {{#each details}}
                <div class="product row my-2 mx-2 ">
                    <div class="img-set row w-100 mt-2">
                        <img class="col-md-3 zoom " src="{{#if this.HinhAnh1}} {{this.HinhAnh1}} {{else}} https://picsum.photos/150/150 {{/if}}" alt="Hình ảnh sản phẩm">
                        <img class="col-md-3 zoom " src="{{#if this.HinhAnh2}} {{this.HinhAnh2}} {{else}} https://picsum.photos/151/151 {{/if}}" alt="Hình ảnh sản phẩm">
                        <img class="col-md-3 zoom " src="{{#if this.HinhAnh3}} {{this.HinhAnh3}} {{else}} https://picsum.photos/152/152 {{/if}}" alt="Hình ảnh sản phẩm">
                        <img class="col-md-3 zoom " src="{{#if this.HinhAnh4}} {{this.HinhAnh4}} {{else}} https://picsum.photos/153/153 {{/if}}" alt="Hình ảnh sản phẩm">
                    </div>
                    <div class="row w-100 my-2">
                        <div class="name col-md-5">{{this.TenNYP}}</div>
                        <div class="price col-md-4"> Giá: {{this.DonGia}} đồng/{{this.DonViDinhLuong}}</div>
                        <div class="col-md-3">Số lượng: {{this.SoLuong}} {{this.DonViDinhLuong}}</div>

                    </div>
                </div>
            {{/each}}   
        </div>
    </div>
    
</div>