{{> navbar text='Tìm kiếm nhu yếu phẩm ... '}}

<div class="mb-6"></div>
<div class="container-fluid">
    <div class="row">
        {{> sidebar where='product'}}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="line-1">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <button id="btn-back" class="btn btn-primary">Quay lại</button>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <button type="button" class="btn btn-primary btn-update mr-1" data-toggle="modal"
                            data-target="#modal-update">Cập nhật</button>
                        <button type="button" class="btn btn-primary btn-delete" data-toggle="modal"
                            data-target="#modal-delete">Xoá</button>
                    </div>
                </div>


            </div>

            <h2>Chi tiết nhu yếu phẩm</h2>
            <div class="mb-3"></div>
            <div class="table-responsive">
                <div class="card">
                    <div class="card-body">
                        <table id="table-1" class="table">
                            <tbody>
                                <tr>
                                    <img src="{{product.HinhAnh1}}" alt="." class="photoPreview a{{product.HinhAnh1}}"
                                        style="height: 150px;width:250px;">
                                    </tr>
                                    <tr>
                                        <img src="{{product.HinhAnh2}}" alt="." class="photoPreview a{{product.HinhAnh2}}"
                                            style="height: 150px;width:250px;">
                                    </tr>
                                    <tr>
                                        <img src="{{product.HinhAnh3}}" alt="." class="photoPreview a{{product.HinhAnh3}}"
                                            style="height: 150px;width:250px;">
                                    </tr>
                                    <tr>
                                        <img src="{{product.HinhAnh4}}" alt="." class="photoPreview a{{product.HinhAnh4}}"
                                            style="height: 150px;width:250px;">
                                    </tr>
                                    <style>
                                        .a {
                                            display: none !important;
                                        }
                                    
                                        .photoPreview {
                                            background-image: url("/img/blank_background.png");
                                    
                                            height: fit-content;
                                            width: 67px;
                                            border-radius: 6px;
                                            object-fit: scale-down;
                                            background-size: 67px;
                                        }
                                    </style>
                                    <tr>
                                    <th style="border-top: none;" scope="row">Mã nhu yếu phẩm :</th>
                                    <td style="border-top: none;"> {{product.MaNYP}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Tên yếu phẩm :</th>
                                    <td> {{product.TenNYP}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Đơn giá :</th>
                                    <td> {{product.DonGia}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Đơn vị định lượng :</th>
                                    <td> {{product.DonViDinhLuong}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="mb-4"></div>

            </div>
        </main>
    </div>
</div>
{{> product/updateModal product}}
{{> product/deleteModal product}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<style>
    .modal-dialog {

        left: 25% !important;
    }
</style>